# Binary
terramate-atlantis-config
terramate-atlantis-config.exe

# Build artifacts
dist/
coverage.out
coverage.html

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Test artifacts
*.test
